body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:839px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5319 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:123px;
  width:1580px;
  height:839px;
  display:flex;
}
#u5319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:90px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  -webkit-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  color:#555555;
}
#u5321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:304px;
  height:90px;
  display:flex;
  color:#555555;
}
#u5321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5322_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:177px;
  height:56px;
}
#u5322 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:56px;
  width:165px;
  height:44px;
  display:flex;
  color:#555555;
}
#u5322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5325_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:97px;
}
#u5325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:304px;
  height:85px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5325 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 15px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5326_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:30px;
}
#u5326 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:163px;
  width:17px;
  height:18px;
  display:flex;
  color:#555555;
}
#u5326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5327_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5327 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:163px;
  width:17px;
  height:21px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5329_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:84px;
}
#u5329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:304px;
  height:72px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5329 .text {
  position:absolute;
  align-self:center;
  padding:14px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5330_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5330 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:238px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5331_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5331 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:235px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5333_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5333 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5334_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5334 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:385px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5335_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5335 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:388px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5337_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:434px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5337 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5338_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5338 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:461px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5339_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5339 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:462px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5341_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:509px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5341 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5342_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5342 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:537px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5343_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5343 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:537px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5345_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5345 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5346_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5346 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:612px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5347_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:613px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5349_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:659px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5349 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5350_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5350 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:687px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5351_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5351 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:687px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5353_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:734px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5353 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5354_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5354 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:762px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5355_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5355 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:763px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5357_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:809px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5357 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5358_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:837px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5359_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5359 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:838px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5361_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:884px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5361 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5362_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:912px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5363_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:912px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5366_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5366 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5367_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:311px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5368_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:312px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  -webkit-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  color:#555555;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:34px;
  width:1408px;
  height:89px;
  display:flex;
  color:#555555;
}
#u5369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:90px;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:304px;
  height:90px;
  display:flex;
}
#u5370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1531px;
  height:37px;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:189px;
  width:1531px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
}
#u5371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1531px;
  height:647px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:226px;
  width:1531px;
  height:647px;
  display:flex;
}
#u5372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 128, 0.674509803921569);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5373 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:314px;
  width:171px;
  height:79px;
  display:flex;
}
#u5373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:422px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:56px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:434px;
  width:151px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5376_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5376_seg1 {
  border-width:0px;
  position:absolute;
  left:-470px;
  top:12px;
  width:475px;
  height:10px;
}
#u5376_seg2 {
  border-width:0px;
  position:absolute;
  left:-470px;
  top:12px;
  width:10px;
  height:29px;
}
#u5376_text {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5377_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5377_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:12px;
  width:228px;
  height:10px;
}
#u5377_seg2 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:12px;
  width:10px;
  height:17px;
}
#u5377_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:422px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
}
#u5382 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:422px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:256px;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:991px;
  width:314px;
  height:256px;
  display:flex;
}
#u5383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:381px;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:967px;
  width:317px;
  height:381px;
  display:flex;
}
#u5384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5385 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5385_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5385_seg1 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:12px;
  width:162px;
  height:10px;
}
#u5385_seg2 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:12px;
  width:10px;
  height:17px;
}
#u5385_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5386 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5386_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5386_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:12px;
  width:452px;
  height:10px;
}
#u5386_seg2 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:12px;
  width:10px;
  height:17px;
}
#u5386_text {
  border-width:0px;
  position:absolute;
  left:168px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5387 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:540px;
  width:0px;
  height:0px;
}
#u5387_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u5387_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:59px;
  width:23px;
  height:10px;
}
#u5387_seg2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:59px;
  width:10px;
  height:70px;
}
#u5387_text {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5388 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:540px;
  width:0px;
  height:0px;
}
#u5388_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u5388_seg1 {
  border-width:0px;
  position:absolute;
  left:-432px;
  top:55px;
  width:437px;
  height:10px;
}
#u5388_seg2 {
  border-width:0px;
  position:absolute;
  left:-432px;
  top:55px;
  width:10px;
  height:74px;
}
#u5388_text {
  border-width:0px;
  position:absolute;
  left:-268px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5389 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:669px;
  width:0px;
  height:0px;
}
#u5389_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-70px;
  width:10px;
  height:70px;
}
#u5389_seg1 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-70px;
  width:234px;
  height:10px;
}
#u5389_seg2 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-129px;
  width:10px;
  height:69px;
}
#u5389_text {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-73px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5390 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5391 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5392 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:540px;
  width:0px;
  height:0px;
}
#u5392_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u5392_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:59px;
  width:72px;
  height:10px;
}
#u5392_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:59px;
  width:10px;
  height:70px;
}
#u5392_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5393 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:540px;
  width:0px;
  height:0px;
}
#u5393_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u5393_seg1 {
  border-width:0px;
  position:absolute;
  left:-291px;
  top:55px;
  width:296px;
  height:10px;
}
#u5393_seg2 {
  border-width:0px;
  position:absolute;
  left:-291px;
  top:55px;
  width:10px;
  height:74px;
}
#u5393_text {
  border-width:0px;
  position:absolute;
  left:-198px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#7F7F7F;
}
#u5395 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:144px;
  width:42px;
  height:17px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
}
#u5395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u5396 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:139px;
  width:29px;
  height:28px;
  display:flex;
}
#u5396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FF3399;
  line-height:18px;
}
#u5397 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:446px;
  width:500px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FF3399;
  line-height:18px;
}
#u5397 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:1691px;
  top:144px;
  width:169px;
  height:18px;
  display:flex;
}
#u5399 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5399_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:139px;
  width:82px;
  height:28px;
  display:flex;
  font-size:18px;
}
#u5400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
