body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:839px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5429 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:123px;
  width:1580px;
  height:839px;
  display:flex;
}
#u5429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:90px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  -webkit-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  color:#555555;
}
#u5431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:304px;
  height:90px;
  display:flex;
  color:#555555;
}
#u5431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5432_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:177px;
  height:56px;
}
#u5432 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:56px;
  width:165px;
  height:44px;
  display:flex;
  color:#555555;
}
#u5432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5435_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:97px;
}
#u5435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:304px;
  height:85px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5435 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 15px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5436_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:30px;
}
#u5436 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:163px;
  width:17px;
  height:18px;
  display:flex;
  color:#555555;
}
#u5436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5437_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5437 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:163px;
  width:17px;
  height:21px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5439_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:84px;
}
#u5439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:304px;
  height:72px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5439 .text {
  position:absolute;
  align-self:center;
  padding:14px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5440_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5440 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:238px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5441_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5441 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:235px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5443_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5443 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5444_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5444 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:385px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5445_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5445 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:388px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5447_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:434px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5447 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5448_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5448 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:461px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5449_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5449 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:462px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5451_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:509px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5451 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5452_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5452 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:537px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5453_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5453 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:537px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5455_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5455 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5456_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5456 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:612px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5457_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5457 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:613px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5459_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:659px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5459 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5460_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5460 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:687px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5461_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5461 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:687px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5463_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:734px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5463 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5464_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5464 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:762px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5465_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5465 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:763px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5467_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:809px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5467 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5468_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5468 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:837px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5469_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5469 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:838px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5471_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:884px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5471 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5472_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5472 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:912px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5473_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5473 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:912px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5476_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5476 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5477_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5477 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:311px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5478_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5478 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:312px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  -webkit-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  color:#555555;
}
#u5479 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:34px;
  width:1408px;
  height:89px;
  display:flex;
  color:#555555;
}
#u5479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:90px;
}
#u5480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:304px;
  height:90px;
  display:flex;
}
#u5480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1531px;
  height:37px;
}
#u5481 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:189px;
  width:1531px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
}
#u5481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1531px;
  height:647px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5482 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:226px;
  width:1531px;
  height:647px;
  display:flex;
}
#u5482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 128, 0.674509803921569);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5483 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:314px;
  width:171px;
  height:79px;
  display:flex;
}
#u5483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5484 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:422px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:56px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5485 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:434px;
  width:151px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5486 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5486_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5486_seg1 {
  border-width:0px;
  position:absolute;
  left:-470px;
  top:12px;
  width:475px;
  height:10px;
}
#u5486_seg2 {
  border-width:0px;
  position:absolute;
  left:-470px;
  top:12px;
  width:10px;
  height:29px;
}
#u5486_text {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5487 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5487_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5487_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:12px;
  width:228px;
  height:10px;
}
#u5487_seg2 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:12px;
  width:10px;
  height:17px;
}
#u5487_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5488 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5489 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5490 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5491 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:422px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
}
#u5492 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:422px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:256px;
}
#u5493 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:991px;
  width:314px;
  height:256px;
  display:flex;
}
#u5493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:381px;
}
#u5494 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:967px;
  width:317px;
  height:381px;
  display:flex;
}
#u5494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5495 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5495_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5495_seg1 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:12px;
  width:162px;
  height:10px;
}
#u5495_seg2 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:12px;
  width:10px;
  height:17px;
}
#u5495_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5496 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5496_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5496_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:12px;
  width:452px;
  height:10px;
}
#u5496_seg2 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:12px;
  width:10px;
  height:17px;
}
#u5496_text {
  border-width:0px;
  position:absolute;
  left:168px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5497 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:540px;
  width:0px;
  height:0px;
}
#u5497_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u5497_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:59px;
  width:23px;
  height:10px;
}
#u5497_seg2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:59px;
  width:10px;
  height:70px;
}
#u5497_text {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5498 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:540px;
  width:0px;
  height:0px;
}
#u5498_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u5498_seg1 {
  border-width:0px;
  position:absolute;
  left:-432px;
  top:55px;
  width:437px;
  height:10px;
}
#u5498_seg2 {
  border-width:0px;
  position:absolute;
  left:-432px;
  top:55px;
  width:10px;
  height:74px;
}
#u5498_text {
  border-width:0px;
  position:absolute;
  left:-268px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5499 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:669px;
  width:0px;
  height:0px;
}
#u5499_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-70px;
  width:10px;
  height:70px;
}
#u5499_seg1 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-70px;
  width:234px;
  height:10px;
}
#u5499_seg2 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-129px;
  width:10px;
  height:69px;
}
#u5499_text {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-73px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5500 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5501 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5502 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:540px;
  width:0px;
  height:0px;
}
#u5502_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u5502_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:59px;
  width:72px;
  height:10px;
}
#u5502_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:59px;
  width:10px;
  height:70px;
}
#u5502_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5503 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:540px;
  width:0px;
  height:0px;
}
#u5503_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u5503_seg1 {
  border-width:0px;
  position:absolute;
  left:-291px;
  top:55px;
  width:296px;
  height:10px;
}
#u5503_seg2 {
  border-width:0px;
  position:absolute;
  left:-291px;
  top:55px;
  width:10px;
  height:74px;
}
#u5503_text {
  border-width:0px;
  position:absolute;
  left:-198px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#7F7F7F;
}
#u5505 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:144px;
  width:42px;
  height:17px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
}
#u5505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u5506 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:139px;
  width:29px;
  height:28px;
  display:flex;
}
#u5506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FF3399;
  line-height:18px;
}
#u5507 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:446px;
  width:500px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FF3399;
  line-height:18px;
}
#u5507 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5509 {
  border-width:0px;
  position:absolute;
  left:1691px;
  top:144px;
  width:169px;
  height:18px;
  display:flex;
}
#u5509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5510 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:139px;
  width:82px;
  height:28px;
  display:flex;
  font-size:18px;
}
#u5510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
