body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:839px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5285 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:123px;
  width:1580px;
  height:839px;
  display:flex;
}
#u5285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:90px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  -webkit-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  color:#555555;
}
#u5287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:304px;
  height:90px;
  display:flex;
  color:#555555;
}
#u5287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5288_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:177px;
  height:56px;
}
#u5288 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:56px;
  width:165px;
  height:44px;
  display:flex;
  color:#555555;
}
#u5288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5291_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:97px;
}
#u5291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:304px;
  height:85px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5291 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 15px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5292_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:30px;
}
#u5292 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:163px;
  width:17px;
  height:18px;
  display:flex;
  color:#555555;
}
#u5292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5293_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5293 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:163px;
  width:17px;
  height:21px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5295_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:84px;
}
#u5295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:304px;
  height:72px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5295 .text {
  position:absolute;
  align-self:center;
  padding:14px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5296_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5296 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:238px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5297_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5297 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:235px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5299_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5299 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5300_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5300 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:385px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5301_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5301 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:388px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5303_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:434px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5303 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5304_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5304 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:461px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5305_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5305 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:462px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5307_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:509px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5307 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5308_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5308 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:537px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5309_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5309 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:537px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5311_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5311 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5312_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5312 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:612px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5313_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5313 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:613px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5315_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:659px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5315 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5316_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5316 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:687px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5317_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5317 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:687px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5319_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:734px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5319 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5320_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5320 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:762px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5321_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5321 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:763px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5323_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:809px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5323 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5324_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5324 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:837px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5325_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:29px;
}
#u5325 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:838px;
  width:17px;
  height:17px;
  display:flex;
  color:#555555;
}
#u5325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5327_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:884px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5327 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5328_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5328 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:912px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5329_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5329 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:912px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5332_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:316px;
  height:87px;
}
#u5332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:304px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
  line-height:22px;
}
#u5332 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 16px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5333_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:33px;
}
#u5333 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:311px;
  width:17px;
  height:21px;
  display:flex;
  opacity:0.65;
  font-family:'Anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u5333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5334_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:29px;
  height:31px;
}
#u5334 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:312px;
  width:17px;
  height:19px;
  display:flex;
  color:#555555;
}
#u5334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  -webkit-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  color:#555555;
}
#u5335 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:34px;
  width:1408px;
  height:89px;
  display:flex;
  color:#555555;
}
#u5335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:90px;
}
#u5336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:304px;
  height:90px;
  display:flex;
}
#u5336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1531px;
  height:37px;
}
#u5337 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:189px;
  width:1531px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
}
#u5337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1531px;
  height:647px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5338 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:226px;
  width:1531px;
  height:647px;
  display:flex;
}
#u5338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 128, 0.674509803921569);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5339 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:314px;
  width:171px;
  height:79px;
  display:flex;
}
#u5339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5340 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:422px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:56px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5341 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:434px;
  width:151px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5342 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5342_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5342_seg1 {
  border-width:0px;
  position:absolute;
  left:-470px;
  top:12px;
  width:475px;
  height:10px;
}
#u5342_seg2 {
  border-width:0px;
  position:absolute;
  left:-470px;
  top:12px;
  width:10px;
  height:29px;
}
#u5342_text {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5343 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5343_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5343_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:12px;
  width:228px;
  height:10px;
}
#u5343_seg2 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:12px;
  width:10px;
  height:17px;
}
#u5343_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5344 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5345 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5346 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:422px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:422px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:256px;
}
#u5349 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:991px;
  width:314px;
  height:256px;
  display:flex;
}
#u5349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:381px;
}
#u5350 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:967px;
  width:317px;
  height:381px;
  display:flex;
}
#u5350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5351 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5351_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5351_seg1 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:12px;
  width:162px;
  height:10px;
}
#u5351_seg2 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:12px;
  width:10px;
  height:17px;
}
#u5351_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5352 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:393px;
  width:0px;
  height:0px;
}
#u5352_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u5352_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:12px;
  width:452px;
  height:10px;
}
#u5352_seg2 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:12px;
  width:10px;
  height:17px;
}
#u5352_text {
  border-width:0px;
  position:absolute;
  left:168px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5353 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:540px;
  width:0px;
  height:0px;
}
#u5353_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u5353_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:59px;
  width:23px;
  height:10px;
}
#u5353_seg2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:59px;
  width:10px;
  height:70px;
}
#u5353_text {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5354 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:540px;
  width:0px;
  height:0px;
}
#u5354_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u5354_seg1 {
  border-width:0px;
  position:absolute;
  left:-432px;
  top:55px;
  width:437px;
  height:10px;
}
#u5354_seg2 {
  border-width:0px;
  position:absolute;
  left:-432px;
  top:55px;
  width:10px;
  height:74px;
}
#u5354_text {
  border-width:0px;
  position:absolute;
  left:-268px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5355 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:669px;
  width:0px;
  height:0px;
}
#u5355_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-70px;
  width:10px;
  height:70px;
}
#u5355_seg1 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-70px;
  width:234px;
  height:10px;
}
#u5355_seg2 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-129px;
  width:10px;
  height:69px;
}
#u5355_text {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-73px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5356 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:669px;
  width:185px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:540px;
  width:0px;
  height:0px;
}
#u5358_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u5358_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:59px;
  width:72px;
  height:10px;
}
#u5358_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:59px;
  width:10px;
  height:70px;
}
#u5358_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5359 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:540px;
  width:0px;
  height:0px;
}
#u5359_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u5359_seg1 {
  border-width:0px;
  position:absolute;
  left:-291px;
  top:55px;
  width:296px;
  height:10px;
}
#u5359_seg2 {
  border-width:0px;
  position:absolute;
  left:-291px;
  top:55px;
  width:10px;
  height:74px;
}
#u5359_text {
  border-width:0px;
  position:absolute;
  left:-198px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#7F7F7F;
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:144px;
  width:42px;
  height:17px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
}
#u5361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:139px;
  width:29px;
  height:28px;
  display:flex;
}
#u5362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FF3399;
  line-height:18px;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:446px;
  width:500px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FF3399;
  line-height:18px;
}
#u5363 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:1691px;
  top:144px;
  width:169px;
  height:18px;
  display:flex;
}
#u5365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5365_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:139px;
  width:82px;
  height:28px;
  display:flex;
  font-size:18px;
}
#u5366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
