body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1770px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1770px;
  height:880px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1770px;
  height:880px;
  display:flex;
}
#u1291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:96px;
  width:109px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1292_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1522px;
  height:743px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:121px;
  width:1522px;
  height:743px;
  display:flex;
}
#u1293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1493px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:157px;
  width:1493px;
  height:615px;
  display:flex;
}
#u1295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:494px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:201px;
  width:1279px;
  height:494px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u1299 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:10px;
  height:500px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:203px;
  width:1px;
  height:491px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:10px;
  height:500px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:203px;
  width:1px;
  height:491px;
  display:flex;
  font-family:'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 247, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:250px;
  width:429px;
  height:101px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1302 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1303_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:437px;
  height:109px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:351px;
  width:429px;
  height:101px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1303 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:50px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:201px;
  width:429px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1304 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:50px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:201px;
  width:429px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1305 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:50px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:201px;
  width:429px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1306 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:386px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(170, 170, 170, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(170, 170, 170, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(170, 170, 170, 0.988235294117647);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:268px;
  width:362px;
  height:386px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:22px;
}
#u1307 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:437px;
  height:109px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:351px;
  width:429px;
  height:101px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1308 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1309_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:437px;
  height:109px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:452px;
  width:429px;
  height:101px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1309 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:437px;
  height:109px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:553px;
  width:429px;
  height:101px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1310 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1311_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:437px;
  height:109px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:250px;
  width:429px;
  height:101px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1311 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:294px;
  width:27px;
  height:25px;
  display:flex;
}
#u1312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:394px;
  width:27px;
  height:25px;
  display:flex;
}
#u1313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:495px;
  width:27px;
  height:25px;
  display:flex;
}
#u1314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:593px;
  width:31px;
  height:31px;
  display:flex;
}
#u1315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:498px;
  height:58px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:136px;
  width:490px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1317 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(2, 167, 240, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:345px;
  width:108px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(2, 167, 240, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u1318 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:602px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
